<%- include("includes/head.ejs") %>



<body>

    <%- include("includes/navigation.ejs") %>

    <main>
        <form action="/users" method="POST">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>

            <button type="submit">Add Username</button>
        </form>
    </main>

</body>