<%- include("includes/head.ejs") %>


<body>

    <%- include("includes/navigation.ejs") %>

    <h1>This is the list of Users</h1>

    <% if (userList.length > 0) { %>

        <ul>
            <% for (let user of userList) { %>
                <li><%= user.username %></li>
            <% } %>
        </ul>  
    
    <% } else { %>
        <h1>No users found!</h1>
    <% } %>

</body>



